.comment {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.comment__picture {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
}
.comment__title {
  font-size: 14px;
}
.comment__title__bold-text {
  font-weight: 600;
}
.comment__plant-name {
  color: #3038AD;
}
.comment__date-time {
  font-size: 11px;
}
.comment__text {
  margin: 5px;
  font-size: 11px;
}
