.gardener__details__edit-button {
  width: 40px;
  height: 40px;
  display: flex;
  background-image: url(../../../../public/images/add-button__circle.png);
  background-size: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gardener__details__edit-button__icon {
  width: 15px;
  height: 15px;
  background-image: url(../../../../public/images/gardener__details__edit-button__icon.png);
  background-size: contain;
}
