.recipe-icon {
  position: relative;
  width: 27px;
  height: 25px;

  background-image: url(../../../../../images/Ellipse.png);
  background-size: contain;
}

.recipe-icon__image {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 5px;
  
  background: url(../../../../../images/cook.png);
  background-size: contain;
}

.recipe-icon__number-backgroud {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 13px;
  top: 12px;

  background: url(../../../../../images/Ellipse2.png);
}

.recipe-icon__number-text {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 5px;
  top: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  letter-spacing: 0.01em;

  color: #FFFFFF;
}