.comment {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
}
.comment__picture {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 16px;
  top: 9px;
  border-radius: 5px;
}
.comment__title {
  position: absolute;
  width: 289px;
  height: 20px;
  left: 66px;
  top: 9px;

  font-size: 14px;
}
.comment__title__bold-text {
  font-weight: 600;
}
.comment__date-time {
  position: absolute;
  width: 126px;
  height: 15px;
  left: 66px;
  top: 29px;

  font-size: 11px;
}
.comment__text {
  position: absolute;
  width: 342px;
  height: 66px;
  left: 16px;
  top: 59px;

  font-size: 11px;
}
