.gardener__name-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.gardener__description-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10.5px;
  letter-spacing: 0.01em;

  color: #4F4F4F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gardener__gardens-font {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10.5px;
  letter-spacing: 0.01em;

  color: #828282;
}
