.gardener__container {
  display: flex;
  flex-flow: column;

  height: 100px;

  background: #FFFFFF;
  border: 1px solid rgba(189, 189, 189, 0.2);
  box-sizing: border-box;

  padding: 5px 10px;
}

.gardener__picture-and-info {
  display: flex;
}

.gardener__gardens-and-recipes {
  display: flex;
  justify-content: space-between;
}

.gardener__name-and-text {
  margin: 5px;
  display: flex;
  flex-flow: column;
  height: 60px;
  overflow: hidden;
}

.gardener__picture {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.gardener__name {
  height: 20px;
}

.gardener__text {
  height: 20px;
}

.gardener__gardens {
  margin: 5px;
  height: 15px;
}

.gardener__recipes-icon {
  margin: 5px;
}