.gardener-button__container {
  height: 45px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.gardener-button__icon {
  height: 30px;
  width: 30px;
  background-image: url(../../../images/gardener-icon.png);
  background-size: contain;
}

.gardener-button__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.01em;
}
