.add-button__container {
  width: 40px;
  height: 40px;
  display: flex;
  background-image: url(../../../../public/images/add-button__circle.png);
  background-size: contain;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-button__icon {
  width: 15px;
  height: 15px;
  background-image: url(../../../../public/images/add-button__plus-icon.png);
  background-size: contain;
}
