.gardener {
  height: 100px;
  border: 1px solid rgba(189, 189, 189, 0.2);
  box-sizing: border-box;
  padding: 5px 10px;
  background: #FFFFFF;
}

.gardener__picture-and-info {
  display: flex;
}

.gardener__picture {
  margin: 5px;
  align-self: center;
  border-radius: 5px;
  height: 40px;
}

.gardener__name-and-description {
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.gardener__name {
  font-weight: bold;
  font-size: 14px;
}

.gardener__gardens-and-recipes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gardener__gardens {
  color: #828282;
}
