.gardener-create-form__send-button {
  height: 50px;
  width: 256px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #1B2751;
  border-radius: 5px;

  align-self: center;

  cursor: pointer;
}

.gardener-create-form__send-button__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #FFFFFF;
}
