.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3038AD;
}

.header__text {
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}