.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3038AD;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;
}
